@model HistoryViewModel
@{
    ViewData["Title"] = "spotify_rating";
}

<h3 class="text-center mb-3">@Model.Rated / @Model.Total</h3>
<div class="list-group">
    @foreach (var userTrack in Model.Tracks.OrderByDescending(r => r.RatedAtUtc))
    {
        string badgeClass = userTrack.Rating switch
        {
            TrackRating.LIKE => "bg-success",
            TrackRating.SUPER_LIKE => "bg-primary",
            TrackRating.DISLIKE => "bg-danger",
            _ => "bg-secondary"
        };

        ListItemViewModel viewModel = new ListItemViewModel
        {
            CardUrl = userTrack.Track.SpotifyUri,
            PictureUrl = userTrack.Track.SpotifyAlbumCoverUrl,
            Title = userTrack.Track.Title,
            Subtitle = userTrack.Track.Artist,
            CalendarText = $"{userTrack.RatedAtUtc.Value:O}Z",
            Badge = userTrack.Rating.ToString(),
            BadgeClass = badgeClass
        };

        <partial name="Components/_ListItem" model="viewModel"/>
    }
</div>

@section Scripts {
    <script>
         document.querySelectorAll('#timestamp').forEach(cell => {
            const utc = cell.dataset.utc;
            if (utc) {
                const date = new Date(utc);
                cell.textContent = date.toLocaleString(undefined, timeOptions);
            }
        });
    </script>
}