@model AiPlaylistViewModel
@{
    ViewData["Title"] = "spotify_rating";
}

<div class="card shadow-lg container my-5 col-lg-6 col-md-8 col-sm-10">
    <div class="p-5">
        <p>@Model</p>
    </div>
</div>