@model PlaylistViewModel
@{
    ViewData["Title"] = "spotify_rating";
}

<h3 class="fw-bold text-center">@Model.Playlist.Name</h3>

<div class="d-flex flex-column flex-md-row justify-content-between align-items-center mt-3 gap-2 text-center text-md-start">
    <p class="mb-0 flex-grow-1">@Model.Playlist.Description</p>
    <span class="badge bg-success flex-shrink-0">@Model.Playlist.Genre</span>
</div>

<div class="mb-5">
    <div class="list-group songs-list">
        @foreach (var track in Model.Tracks)
        {
            ListItemViewModel viewModel = new ListItemViewModel
            {
                CardUrl = track.SpotifyUri,
                PictureUrl = track.SpotifyAlbumCoverUrl,
                Title = track.Title,
                Subtitle = track.Artist,
                Badge = track.AiGenre
            };

            <partial name="Components/_ListItem" model="viewModel" />
        }
    </div>
</div>