@{
    var path = Context.Request.Path.ToString().ToLower().TrimStart('/');
    List<string> segments = path.Split('/').ToList();
}


@if (segments.Count > 1)
{
    <div class="breadcrumb">
        @{
            string url = "";
            foreach (var segment in segments)
            {
                url += $"/{segment}";

                <a href="@url" class="p-2">
                    @segment
                </a>

                @if (segment != segments.Last())
                {
                    <span class="p-2">/</span>
                }
            }
        }
    </div>
}