<div id="loadingOverlay" class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column align-items-center text-center">
     
    <div class="spinner-border text-success mb-3" role="status" style="width: 3rem; height: 3rem;">
        <span class="visually-hidden">Loading...</span>
    </div>
    
    <p class="fw-semibold text-white px-3" style="max-width: 300px;">
        The first time loading may take a bit longer than usual. Please hang tight!
    </p>
</div>